.btn-blue {
	background-color: blue;
	padding: 10px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: "Playfair Display SC", sans-serif;
} 

.btn-blue:hover {
	background-color: black;
	color: white;
	text-decoration: none;
} 